.item-box {
    line-height: 1.6;
    direction: ltr;
    display: inline-block;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
    min-width: 220px;
    max-width: 440px;
    text-align: center;
    font-family: "Fontin-SmallCaps",Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-variant-ligatures: none;
    color: #7f7f7f;
    background-color: #000;
    border-color: $itemheader;
    margin-bottom: 1em;
    }
    
    @font-face {
        font-family: 'Fontin-SmallCaps';
        src: url('../fonts/Fontin-SmallCaps.ttf'); /* IE9 Compat Modes */
    }
    
    .header {
    text-align: center;
    font-family: "Fontin-SmallCaps",Verdana,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variant-ligatures: none;
    display: block;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    color: $itemheader;
    background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/9/9b/Item-ui-header-single.png),url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/9/9b/Item-ui-header-single.png),url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/9/9b/Item-ui-header-single.png);
    padding: 3px 32px;
    height: 28px;
    line-height: 25px;
    background-position: left 0,right -68px,center -34px;
    }
    
    .item-stat-seperator::after{
        display: block;
        margin: 5px auto;
        width: 221px;
        height: 2px;
        background-image: url(https://pathofexile.gamepedia.com/media/pathofexile.gamepedia.com/e/ef/Item-ui-separators.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        content: "";
    }