@import './base/settings';
@import "./components/item-box";
@import "./components/inputs";

body {
    height: 60vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}